/scan_deskewer:
  ros__parameters:
    dua:
      tf_server:
        get_transform: true
        transform_pose: false
        wait_servers: false
    motion:
      buffer_size: 30
      gravity: 9.803
      use_imu: false
      use_twist: false
      use_odometry: true
    pointcloud:
      from_lasercan: false
      labels:
        x: "x"
        y: "y"
        z: "z"
        timestamp: "timestamp"
    tf:
      disable: false
      ignore_stamp: false
      timeout_ms: 100
